body, html {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container h1 {
    margin-bottom: 20px; /* Adjust the value as needed */
}
